body {
  background-color: #0a0a0a;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Poiret One", cursive;
}

p {
  font-family: "Jost", sans-serif;
}
.center-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HOME PAGE */
/* header */
.container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 50px;
}
.navbar .navbar-toggler {
  border: none;
  outline: none;
}

.navbar .toggler-btn .fas {
  color: #fff;
}
.media-link {
  display: inline-block;
}

.links-media {
  padding: 10px;
  color: white;
  transition-duration: 0.3s;
}

.links-media:hover {
  color: #e5bf4a;
  transform: rotateY(180deg);
}

.col-heading {
  color: #e5bf4a;
  font-family: "Dancing Script", sans-serif;
  font-size: 40px;
}

.btn {
  border: 1px solid #e5bf4a;
  border-radius: 1px;
  color: white;
  padding: 12px 28px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Jost", sans-serif;
}

.contact {
  border-color: #e5bf4a;
  color: #e5bf4a;
  background-color: #0a0a0a;
}

.contact:hover {
  background-color: #e5bf4a;
  color: white;
}

/* navbar */
.custom-navbar-ui {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-link {
  font-family: "Jost", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: white !important;
  padding: 20px 0;
  margin: 0 20px;
  position: relative;
}

.nav-link:hover {
  color: #e5bf4a;
}

.nav-link::before {
  transition: 300ms;
  height: 1px;
  content: "";
  position: absolute;
  background-color: #e5bf4a;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}
/* header */

/* form */
.row {
  margin: 0;
  padding: 0px;
}

.custom-col-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
}

.h2-heading {
  color: #e5bf4a;
  font-weight: 900;
  font-family: "Poiret One", cursive;
  text-align: center;
}

.points-contact {
  color: white;
  font-family: "Jost", sans-serif;
  list-style: none;
  text-align: center;
}

.points-contact1 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.contact-img {
  padding: 40px;
  width: 100%;
}

.custom-col-right {
  padding-top: 120px;
  padding-left: 70px;
  padding-right: 70px;
}

.input-custom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-form {
  text-align: left;
  width: 100%;
  padding: 13px;
  border-radius: 0 !important;
  font-size: 14px;
  background-color: black !important;
  border: 1px solid white !important;
  font-family: "Jost", sans-serif;
  outline: none;
  color: white;
  margin: 20px;
}

.custom-form-group {
  margin: 20px;
}

.custom-form-message {
  outline: none;
  border: 1px solid white !important;
  border-radius: 0;
  padding: 15px;
  font-size: 14px;
  background-color: black !important;
  font-family: "Jost", sans-serif;
  width: 100%;
  color: white;
}

.button-send-form {
  outline: none;
  margin: 20px;
}

.button-send {
  background-color: #e5bf4a !important;
  color: black !important;
  font-family: "Jost", sans-serif !important;
  padding: 17px 37px;
  text-transform: uppercase;
  outline: none !important;
  border: none !important;
  border-color: none !important;
}

.contact-details {
  margin-top: 60px;
}

.map,
.envelope,
.phone {
  display: inline-block;
  padding-top: 20px;
  padding-left: 30px;
  /* display: flex; */
}

.details-para {
  color: white;

  padding-left: 25px;
  display: inline-block;
}

.icons {
  color: #e5bf4a;
}

/* footer */
.footer {
  width: 100%;
  height: auto;
  padding: 90px 50px;
}
.row {
  margin: 0;
  padding: 0px;
}

.arrow-footer {
  color: white;
  padding-bottom: 15px;
}

.call-footer {
  color: white;
  padding-bottom: 15px;
}

.footer-items {
  list-style: none;
}

.logo {
  padding-bottom: 10px;
}

.logo-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.logo-h1 {
  padding-top: 10px;
  padding-left: 10px;
  color: #e5bf4a;
  font-family: "Dancing Script", sans-serif;
  text-align: center;
}

.logo-para {
  padding-top: 7px;

  font-family: "Jost", sans-serif !important;
  color: white;
  text-align: center;
}
.follow-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.follow-page a {
  color: #ffff;
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  text-decoration: none;
}

.follow-page a:hover {
  color: #e5bf4a;
}
.column-1-footer-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.h4-footer {
  color: #e5bf4a;
  text-transform: capitalize;

  text-align: center;
  padding-bottom: 10px;
}

.h6-para {
  padding-top: 7px;

  color: white;
  text-align: center;
}

.para-footer {
  color: white;
  text-align: center;
  padding-top: 10px;
}

.link-footer {
  color: white !important;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.link-footer:hover {
  text-decoration: underline;
}
/* MEDIA QUERY */
@media (max-width: 960px) {
  .media-link,
  .contact-button {
    display: none;
  }

  .logo-head a {
    text-decoration: none;
    text-align: center;
  }

  .col-heading {
    color: #e5bf4a;
    font-family: "Dancing Script", sans-serif;
    font-size: 40px;
    text-align: center;
    margin-left: 100px;
  }

  /* navbar */
  .custom-navbar-ui {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-link {
    font-family: "Jost", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: white !important;
    padding: 20px 0;
    margin: 0 20px;
    position: relative;
  }

  .nav-link:hover {
    color: #e5bf4a;
  }

  .nav-link::before {
    transition: 300ms;
    height: 1px;
    content: "";
    position: absolute;
    background-color: #e5bf4a;
  }

  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }

  .nav-link-ltr:hover::before {
    width: 100%;
  }

  .custom-collapse-button {
    background-color: white;
    color: white;
  }

  .custom-toggler {
    background-color: white;
    color: white;
  }

  .row {
    margin: 0;
    padding: 0px;
  }

  .custom-col-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
  }

  .contact-img {
    padding: 40px;
    width: 100%;
  }
  /* custom-col-right */
  .custom-col-right {
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .input-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .input-form {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
    padding: 13px;
    border-radius: 0 !important;
    font-size: 14px;
    background-color: black !important;
    border: 1px solid white !important;
    font-family: "Jost", sans-serif;
    outline: none;
    color: white;
  }

  .custom-form-group {
    margin: 0;
  }

  .custom-form-message {
    outline: none;
    border: 1px solid white !important;
    border-radius: 0;
    padding: 15px;
    font-size: 14px;
    background-color: black !important;
    font-family: "Jost", sans-serif;
    width: 100%;
    color: white;
  }

  .button-send-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
    margin: 0;
    padding-top: 30px;
  }
  .button-send {
    background-color: #e5bf4a !important;
    color: black !important;
    font-family: "Jost", sans-serif !important;
    padding: 17px 37px;
    text-transform: uppercase;
    outline: none !important;
    border: none !important;
    border-color: none !important;
  }

  .contact-details {
    margin: 0;
    padding-top: 40px;
  }

  .map,
  .envelope,
  .phone {
    display: flex;

    padding-top: 20px;
    padding-left: 0px;
  }

  .details-para {
    color: white;
    font-size: 14px;
    padding-left: 25px;
    display: inline-block;
  }

  .icons {
    color: #e5bf4a;
  }

  /* footer */
  .footer {
    width: 100%;
    height: auto;
    padding: 50px 20px;
  }
  .row {
    margin: 0;
    padding: 0px;
  }

  .arrow {
    padding-top: 20px;
  }

  .arrow-footer {
    color: white;
    padding-bottom: 15px;
  }

  .call {
    padding-top: 20px;
  }

  .call-footer {
    color: white;
    padding-bottom: 15px;
  }

  .footer-items {
    list-style: none;
  }

  .logo {
    padding-bottom: 10px;
  }

  .logo-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  .logo-h1 {
    padding-top: 10px;
    padding-left: 10px;
    color: #e5bf4a;
    font-family: "Dancing Script", sans-serif;
    font-size: 30px;
    text-align: center;
  }

  .logo-para {
    padding-top: 7px;

    font-family: "Jost", sans-serif !important;
    color: white;
    text-align: center;
  }
  .follow-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .follow-page .fab {
    color: #ffff;
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    text-decoration: none;
  }

  .follow-page .fab:hover {
    color: #e5bf4a;
  }
  .column-1-footer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
  }
  .h4-footer {
    color: #e5bf4a;
    text-transform: capitalize;

    text-align: center;
    padding-bottom: 10px;
  }

  .h6-para {
    padding-top: 7px;

    color: white;
    text-align: center;
  }

  .para-footer {
    color: white;
    text-align: center;
    padding-top: 10px;
  }

  .link-footer {
    color: white !important;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .link-footer:hover {
    text-decoration: underline;
  }
}
